.details {
    background: rgba(38, 38, 38, 0.7)!important;
    backdrop-filter: blur(3px)!important;
    border-radius: 3px 15px;
    padding: 30px 30px 10px 30px;
    transform: translateY(0);
    /*animation: up-return 0.2s linear forwards;*/
}

.vacancy {
    margin-bottom: 30px;
    animation-name: animateIn;
    animation-duration: 600ms;
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    cursor: pointer;
    white-space: pre-line;
}

.vacancy h3 {
    color: var(--white);
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    width: 300px;
    text-align: left;
    min-height: 60px;
}

.vacancy h4 {
    font-weight: 500;
    font-size: 14px;
    color: var(--white);
    padding-top: 30px;
    text-align: left;
}

.vacancy>button {
    outline: none;
    border: none;
    text-transform: uppercase;
    background: none;
    opacity: 0;
}

.vacancy {
    text-align: center;
    margin-bottom: 20PX;
}

.vacancies .vacancy .details {
    
    -webkit-animation: up-return linear 0.2s forwards;
    animation: up-return linear 0.2s forwards;
}

.vacancies .vacancy button {
    -webkit-animation: down-return linear 0.2s forwards;
    animation: down-return linear 0.2s forwards;
}

@-webkit-keyframes down {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0
    }
    40% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 1;
    }
}

@keyframes down {
    0% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        opacity: 1;
    }
}

@-webkit-keyframes down-return {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
}

@keyframes down-return {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
}

@-webkit-keyframes up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

@keyframes up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

@-webkit-keyframes up-return {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes up-return {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.vacancies .vacancy:hover .details {
    -webkit-animation: up linear 0.3s forwards;
    animation: up linear 0.3s forwards;
    box-shadow: 0 4px 2px -2px var(--blue);
    transition-duration: 1s;
}

.vacancies .vacancy:hover button {
    -webkit-animation: down linear 0.3s forwards;
    animation: down linear 0.3s forwards;
    color: var(--white)!important;
}

button>a:hover {
    color: var(--blue)!important;
}


@keyframes animateIn {
    0% {
        opacity: 0;
        transform: scale(0.6) translateY(-8px);
    }

    100% {
        opacity: 1;
    }
}