<div class="main">
    <div *ngIf="oil" class="container">
        <div class="siqe" *ngIf="oil.id == 1">
            <h1>S.I.Q.E.</h1>
            <h3>Seismic Image Noise Attenuation</h3>
            <p>Precise and comprehensive seismic images play a vital role in extracting valuable subsurface information
                within the oil and gas industry. Yet, traditional methods of improving seismic image quality encounter
                inherent limitations, often relying on the availability of well data or time-consuming parametrization.
            </p>
            <h3>ABOUT THE PRODUCT</h3>
            <p>Precise and comprehensive seismic images play a vital role in extracting valuable subsurface information
                within the oil and gas industry. Yet, traditional methods of improving seismic image quality encounter
                inherent limitations, often relying on the availability of well data or time-consuming parametrization.
            </p>
            <div class="grid">
                <p>
                    With the data-driven approach of S.I.Q.E., you can expect improvements in vertical resolution and
                    SNR, enabling precise interpretation and accurate delineation of geological features.
                    <br><br>
                    Our methodology delivers cleaner and more accurate seismic images by removing noise artifacts and
                    enhancing the visibility of subtle seismic signals. Geoscientists can confidently make informed
                    decisions, thanks to the preservation of data integrity and the reliable results provided by
                    S.I.Q.E.
                </p>
                <img src="assets/images/siqe-1.jpg" alt="">
            </div>
            <div class="grid">
                <figure>
                    <img src="assets/images/SIQE_Original.jpg" alt="" style="width:100%;">
                    <figcaption>ORIGINAL</figcaption>
                </figure>
                <figure>
                    <img src="assets/images/SIQE_Enhanced.jpg" alt="" style="width:100%;">
                    <figcaption style="color: var(--blue);">ENHANCED</figcaption>
                </figure>
            </div>
            <h3>KEY BENEFITS</h3>
            <p>• Time and Cost Efficiency: S.I.Q.E. reduces interpretation time, freeing up resources for higher-level
                analysis. The streamlined workflow improves operational efficiency and cost savings.
                <br><br>
                • Enhanced Decision-making: S.I.Q.E. empowers geoscientists with reliable results and preserved data
                integrity, facilitating informed decision-making. Accurate seismic images aid in risk mitigation,
                optimized well planning, and increased reservoir understanding.
                <br><br>
                • Improved Resolution and SNR: S.I.Q.E. delivers impressive improvements in vertical resolution and
                signal-to-noise ratio (SNR), enabling precise interpretation and accurate delineation of geological
                features. Noise artifacts are removed, and subtle seismic signals are enhanced, providing cleaner and
                more reliable seismic images.
            </p>
            <h3>METHODOLOGY</h3>
            <p>S.I.Q.E. utilizes deep learning techniques to enhance seismic data quality. Our approach incorporates
                statistical wavelets and synthetic data generation to optimize the model’s performance. The model is
                trained on a diverse range of low and high-quality volumes, ensuring its versatility in handling various
                data variations.
                <br><br>
                We function closely with clients, integrating S.I.Q.E. into existing workflows, and maximizing its value
                in enhancing seismic data interpretation for informed decision-making in the oil and gas industry.
                <br><br>
                Whether in the early exploration phase or during reservoir management activities, S.I.Q.E. is a valuable
                tool for enhancing the understanding of subsurface structures and optimizing decision-making processes.
                Experience the power of S.I.Q.E. and unlock the full potential of your seismic data analysis.
            </p>
            <video src="assets/videos/Schematic_S.I.Q.E..mp4" autoplay muted loop playsinline preload="auto"
                onloadedmetadata="this.muted = true" width="100%"></video>
        </div>

        <div class="sina" *ngIf="oil.id == 2">
            <h1>S.I.N.A.</h1>
            <h3>Seismic Image Noise Attenuation</h3>
            <p>In the energy industry, accurately interpreting seismic data plays a pivotal role in understanding
                subsurface structures and optimizing exploration and production activities. However, traditional seismic
                data often suffers from a significant challenge: high noise levels. This noise obscures critical
                geological features and hampers the ability of subject matter experts to make precise interpretations.
                Addressing this challenge is crucial for unlocking the full potential of seismic data in the oil and gas
                industry.
            </p>
            <h3>ABOUT THE PRODUCT</h3>
            <p>At WAVERITY, we have developed an innovative solution to overcome the noise limitations in seismic data
                interpretation. S.I.N.A. (Seismic Image Noise Attenuation) is an advanced deep learning algorithm
                specifically designed to enhance the signal-to-noise ratio (SNR) of seismic data.
            </p>
            <div class="grid">
                <p>
                    The algorithm leverages state-of-the-art deep learning techniques to accurately identify and remove
                    various types of noise that commonly plague seismic data, including random, coherent, colored,
                    structural/orientation, and Gaussian noises.
                    <br><br>
                    Our deep learning engine intelligently distinguishes noise from valuable seismic responses, ensuring
                    that the original signal remains intact throughout the noise attenuation process.
                </p>
                <img src="assets/images/sina-1.png" alt="">
            </div>
            <div class="grid">
                <figure>
                    <img src="assets/images/SINA_Original.jpg" alt="" style="width:100%;">
                    <figcaption>ORIGINAL</figcaption>
                </figure>
                <figure>
                    <img src="assets/images/SINA_Denoised.jpg" alt="" style="width:100%;">
                    <figcaption style="color: var(--blue);">DENOISED</figcaption>
                </figure>
            </div>
            <h3>KEY BENEFITS</h3>
            <p>• Improved Signal-to-Noise Ratio (SNR): S.I.N.A. achieves remarkable SNR improvement, enabling clear
                differentiation of structural geological features. This enhances interpretation accuracy for critical
                details like fault propagation.
                <br><br>
                • Enhanced Interpretation Accuracy: Our solution removes noise while preserving the original seismic
                response, providing interpreters with cleaner and more reliable data. This reduces the risk of
                misinterpretations and missed opportunities.
                <br><br>
                • Time and Cost Efficiency: S.I.N.A. streamlines noise removal processes, saving time and resources.
                Seismic experts can focus on higher-level analysis and interpretation, improving operational efficiency
                and cost savings.
                <br><br>
                • Unleashing Exploration Potential: The algorithm unveils valuable insights buried beneath the noise,
                optimizing exploration strategies, improving reservoir characterization, and supporting informed
                decision-making.
            </p>
            <h3>METHODOLOGY</h3>
            <p>S.I.N.A. leverages deep learning and advanced neural networks to effectively attenuate seismic image
                noise. It has been rigorously trained on extensive real-world datasets, ensuring consistent and
                exceptional results across diverse noise scenarios.
                <br><br>
                We work closely with clients, tailoring S.I.N.A. to their unique needs. We integrate our technology into
                existing workflows through a collaborative approach, maximizing the value derived from S.I.N.A.’s noise
                attenuation capabilities.
                <br><br>
                With S.I.N.A., seismic data interpretation reaches new levels of accuracy and efficiency, empowering
                informed decision-making in the oil and gas industry.
            </p>
            <video src="assets/videos/Schematic_S.I.N.A..mp4" autoplay muted loop playsinline preload="auto"
                onloadedmetadata="this.muted = true" width="100%"></video>
        </div>
    </div>
</div>