.logo {
    font-weight: 600;
    font-size: 18px;
    margin-right: 50px;
}


.logo img {
    margin-right: 10px;
    margin-bottom: 20px!important;
}

.navbar-nav {
    margin-right: 20px;
}


* {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}


nav {
    padding: 0;
    padding-top: 10px !important;
}

.dropdown-menu {
    background: rgba(0, 0, 0, 0.7) !important;
    backdrop-filter: blur(12px) !important;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown-item {
    color: var(--white) !important;
}

.dropdown-item.active {
    background: var(--blue) !important;
}

.dropdown-item:hover {
    background: var(--blue);
}

.nav-item {
    list-style-type: none;
    display: inline-block;
    margin: 5px 10px;
    cursor: pointer;

}

.nav-item>.nav-link {
    color: rgb(155, 155, 155);
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.nav-item>.nav-link::after {
    content: "";
    display: block !important;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    margin-top: 5px;
    background: transparent;
    transition: all 0.3s;

}

.nav-item>.nav-link:hover::after,
.nav-item>.nav-link.active::after {
    width: 100%;
    background: var(--blue);
}

.nav-link.active {
    color: var(--white) !important;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: none;
}

@media (max-width: 768px) {
    .logo img {
        margin-bottom: 0px!important;
    }

    nav {
        background: rgba(0, 0, 0, 0.4) !important;
        backdrop-filter: blur(6px) !important;
        padding: 0;
        padding: 5px 0 !important;
        width: 100vw;
    }
}

@media (max-width: 991px) {
    .desktop {
        display: none !important;
    }

    .nav-item {
        text-align: center;
    }
    .navbar-nav {
        margin: auto;
    }
}

@media (min-width: 991px) {
    .mobile {
        display: none !important;
    }
}