#footer {
  background: none
}

#contact-button>button:hover {
  color: var(--dark);
  background: var(--white);
  transition-duration: 300ms;
}

footer {
  padding-top: 40px;
}

#logo {
  width: 160px;
}

footer #logo a {
  font-weight: 600;
  padding-left: 15px;
  font-size: 1.3em;
}


footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  margin: 0 50px;
}

footer button {
  border-radius: 3px 10px 3px 10px;
  padding: 12px 25px;
  border: none;
  background: rgba(72, 72, 72, 0.7);
  backdrop-filter: blur(30px);
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

li {
  list-style-type: none;
  display: inline-block;
  cursor: pointer;

}

li>a {
  color: rgb(155, 155, 155);
  text-decoration: none;
  display: inline-block;
  position: relative;
}

li>a::after {
  content: "";
  display: block !important;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  margin-top: 5px;
  background: transparent;
  transition: all 0.3s;

}

li>a:hover::after,
li>a.active::after {
  width: 100%;
  background: var(--blue);
}

a.active {
  color: var(--white) !important;
}

/* credits */
.credits {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  text-align: center;
  margin-top: 20px;
}

.credits h5 {
  font-weight: 400;
  font-size: 0.6em;
}

.credits h5 a {
  color: #0085ff;
  text-decoration: none;
}

@media (max-width: 1000px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 680px) {

  footer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  #logo {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 115px;
  }

  footer ul {
    flex-direction: column;
    padding-left: 0;
    padding-bottom: 20px;
  }


  footer ul li {
    padding-bottom: 20px;
  }

}