<div id="footer">
  <footer class="container d-flex flex-lg-row flex-md-row flex-sm-column justify-content-between align-items-center">
    <div id="logo"><a routerLink="/home"><img src="assets/images/logo3.svg" alt="" width="100px"></a></div>
      <ul>
        <li><a routerLink="/news" routerLinkActive="active">News</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/careers" routerLinkActive="active">Careers</a></li>
      </ul>
    <div id="contact-button"><button (click)="openLg(content)">Contact Us</button></div>
  </footer>
  <div class="container credits">
    <h5>2022 © WAVERITY. All rights reserved.</h5>
    <!-- <h5>Designed and Developed by <a href="">XALIZADEX</a></h5> -->
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title">Contact Us</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
      <form action="https://formsubmit.co/support@waverity.ai" method="POST">
          <div class="form-row">
              <div class="input-data">
                  <input type="text" name="First Name" style="color: #000;" required>
                  <div class="underline"></div>
                  <label for="">First Name</label>
              </div>
              <div class="input-data">
                  <input type="text" name="Last Name" required>
                  <div class="underline"></div>
                  <label for="">Last Name</label>
              </div>
          </div>
          <div class="form-row">
              <div class="input-data">
                  <input type="email" name="Email" required>
                  <div class="underline"></div>
                  <label for="">Email Address</label>
              </div>
              <div class="input-data">
                  <input type="phone" name="Phone" required>
                  <div class="underline"></div>
                  <label for="">Phone Number</label>
              </div>
          </div>
          <div class="form-row">
              <div class="input-data textarea">
                  <textarea rows="8" cols="80" name="Message" required></textarea>
                  <br />
                  <div class="underline"></div>
                  <label for="">Write your message</label>
                  <br />
              </div>
          </div>
          <div class="button-submit">
              <button><input class="submit" type="submit" value="Submit"></button>
          </div>
      </form>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>