<div class="main">
    <div class="section-head container-md wow animate__fadeInDown animate__animated">
        <h2>We are Waverity</h2>
        <div class="hr"></div>
    </div>

    <!-- About Us -->

    <div class="container animate__fadeInUp animate__animated">
        <div
            class="d-flex about-us m-1 flex-column flex-sm-column flex-lg-row justify-content-center align-items-center">
            <img src="../../assets/images/about-us.jpg" alt="" class="w-100">
            <div>
                <p>
                    The WAVERITY provides cutting-edge and comprehensive solutions for the energy sector and remote
                    sensing systems industry to address their complex challenges by application of sophisticated
                    mathematical and computational techniques including non-linear data processing, advanced Artificial
                    Intelligence, Deep Learning, and statistical analysis.
                    <br>
                    <br>
                    Our mission is a transformation of conventional methods into more robust and effective approaches to
                    increase commercial value.

                </p>
            </div>
        </div>
    </div>
    <button routerLink="/careers" routerLinkActive="active" class="button">Join Our Team</button>
    <div id="contacts" class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 border-end border-2">
                <h4>Address</h4>
                <h6>Uzeyir Hajibeyli 57, Block A, Floor 3</h6>
            </div>
            <div class="col-lg-4 col-sm-12 border-end border-2">
                <h4>Phone</h4>
                <h6>+994 55 640 18 99</h6>
            </div>
            <div class="col-lg-4 col-sm-12">
                <h4>Email</h4>
                <h6>contact@waverity.ai</h6>
            </div>
        </div>
    </div>
</div>