<div class="main">
    <div class="section-head container-md wow animate__fadeInDown animate__animated">
        <h2>We are Waverity</h2>
        <div class="hr"></div>
    </div>

    <!-- About Us -->

    <div class="container animate__fadeInUp animate__animated">
        <div class="d-flex about-us m-1 flex-column flex-sm-column flex-lg-row justify-content-center align-items-center">
            <img src="../../assets/images/about-us.jpg" alt="" class="w-100">
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ipsum, risus, magna scelerisque euismod
                    integer
                    lorem.
                    Ultricies tempor lacus erat arcu nisl ut tempus faucibus. Non tortor tincidunt aenean sit felis
                    fermentum
                    dui nunc.
                    Eget est sociis dignissim in est auctor dignissim. Malesuada molestie sit id dolor, sodales ultrices
                    viverra
                    at amet.
                    Id nascetur ultricies nec pulvinar ac. Et nunc tellus auctor amet senectus id. Maecenas praesent
                    orci
                    quisque nisl,
                    donec.Eget est sociis dignissim in est auctor dignissim. Malesuada molestie sit id dolor, sodales
                    ultrices
                    viverra at amet.
                    Id nascetur ultricies nec pulvinar ac. Et nunc tellus auctor amet senectus id. Maecenas praesent
                    orci
                    quisque nisl,
                    donec.
                </p>
            </div>
        </div>
    </div>
    <button routerLink="/careers" routerLinkActive="active" class="button">Join Our Team</button>
    <div id="contacts" class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-12 border-end border-2">
                <h4>Address</h4>
                <h6>Uzeyir Hajibeyli 57, Block A, Floor 3</h6>
            </div>
            <div class="col-lg-4 col-sm-12 border-end border-2">
                <h4>Phone</h4>
                <h6>+994 50 460 74 60</h6>
            </div>
            <div class="col-lg-4 col-sm-12">
                <h4>Email</h4>
                <h6>eilink@khazar.org</h6>
            </div>
        </div>
    </div>
</div>