<div class="container section" id="technology">
    <h1>TECHNOLOGY</h1>
    <div class="hr"></div>
    <p class="tech_p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl nullam nisl ullamcorper
        volutpat amet ac. Volutpat, ultricies molestie ut pharetra id est feugiat hendrerit.
    </p>
    <div class="section-full">
        <div class="time-line ">
            <div class="line-left  line">
                <div class="line-left-box">
                    <div class="line-content-box wow animate__fadeInLeft animate__animated left-div">
                        <div class="left-img img1">
                            <img src="../../assets/images/statistics.png" alt="statics image" height="70px">
                            <h4 class="min-title text-uppercase text-primary m-t0 m-b15">STATISTICS</h4>
                        </div>
                        <div class="paragraph-left para">
                            <p class="font-16">when an unknown printer took a galley of
                                type and scrambled it to
                                make a type specimen book. It has survived not only five centuries.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-right  line">
                <div class="line-right-box">
                    <div class="line-content-box wow animate__fadeInRight animate__animated right-dev">
                        <div class="right-img img2">
                            <img src="../../assets/images/ai.png" alt="statics image" height="70px">
                            <h4 class="min-title text-uppercase text-primary m-t0 m-b15">ARTIFICIAL<br>
                                INTELLIGENCE</h4>
                        </div>
                        <div class="paragraph-right para1">
                            <p class="font-16">when an unknown printer took a galley of type and
                                scrambled it to make a type
                                specimen book. It has survived not only five centuries.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-left line">
                <div class="line-left-box">
                    <div class="line-content-box wow animate__fadeInLeft animate__animated left-div">
                        <div class="left-img img3">
                            <img src="../../assets/images/image processing.png" alt="statics image" height="70px">
                            <h4 class="min-title text-uppercase text-primary m-t0 m-b15">SIGNAL & IMAGE<br>
                                PROCESSING</h4>
                        </div>
                        <div class="paragraph-left para">
                            <p class="font-16 left-paragraph para3">when an unknown printer took a galley of
                                type and scrambled it to
                                make a type specimen book. It has survived not only five centuries.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-right line">
                <div class="line-right-box">
                    <div class="line-content-box wow animate__fadeInRight animate__animated right-dev">
                        <div class="right-img img4">
                            <img src="../../assets/images/big data.png" alt="statics image" height="70px">
                            <h4 class="min-title text-uppercase text-primary m-t0 m-b15">BIG DATA</h4>
                        </div>
                        <div class="paragraph-right para1">
                            <p class="right-paragraph para4">when an unknown printer took a galley of type
                                and
                                scrambled it to make a type
                                specimen book. It has survived not only five centuries.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>