.banner-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

span.prev.slick-arrow>img:hover {
    filter: brightness(0.4);
}

button {
    display: flex;
    margin: 30px auto 0 auto;

}

.next {
    margin-left: 20px;
}

h1 {
    width: 90%;
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    padding-top: 5px;
    padding-left: 40px;
    line-height: 160%;
}

p {
    width: 90%;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-align: justify;
    line-height: 199%;
    padding-left: 40px;
    padding-bottom: 20px;
}

::ng-deep .nav-tabset:not(.disable-style) {
    width: 100% !important;
    list-style: none;
    padding: 0;
    display: none !important;
    display: grid !important;
    /* 
    grid-gap: 10px!important; */
    grid-template-columns: auto auto auto !important;
    text-align: center !important;
}

::ng-deep .nav-tabset:not(.disable-style) .nav-tab {
    border-bottom: 1px solid var(--white) !important;
    margin-bottom: 20px;
}

::ng-deep .nav-tabset .nav-tab {
    padding: 0!important;
}

::ng-deep .nav-tabset .nav-tab span {
    display: block;
    width: 100%;
    padding: 10px!important;
}

::ng-deep .nav-tabset:not(.disable-style) .nav-tab span:hover {
    color: var(--blue) !important;
}

::ng-deep .nav-tabset:not(.disable-style) .nav-tab.active {
    border-color: var(--blue) !important;
    color: var(--blue) !important;
}

::ng-deep .nav-tabset:not(.disable-style) .nav-tab.active span {
    color: var(--blue) !important;
}

.main-btn {
    border-radius: 3px 10px 3px 10px;
    padding: 12px 25px;
    margin-left: 40px;
    border: none;
    background: rgba(72, 72, 72, 0.7);
    backdrop-filter: blur(30px);
    outline: none;
    color: #ffffff;
    cursor: pointer;
}

.bg {
    padding: 10px 0 40px 0;
    background: rgba(38, 38, 38, 0.4) !important;
    backdrop-filter: blur(3px) !important;
    border-radius: 15px;
}

a:hover {
    color: var(--dark);
    background: var(--white);
    transition-duration: 300ms;
}

.banner-img img{
    width:490px;
    height:427px;
}


@media screen and (max-width:1200px){
    .banner-img{
        margin-bottom: 15px;
    }
    .banner-img img{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .banner-img {
      display: none;
    }

    .main-btn {
        display: none;
    }
    p {
        font-size: 14px;
        padding-left: 0;
    }
}

@media screen and (max-width:480px){
    ::ng-deep .banner-slider .slick-arrow img{
        max-height: 50px;
    }
    .banner-content h1,.banner-content p{
        padding-left: 0;
        width: 100%;
    }
    .banner-content h1{
        font-size:24px;
    }
    .main-btn{
        margin-left: 0;
    }
    ::ng-deep .nav-tabset:not(.disable-style){
        grid-template-columns: 1fr !important;
    }
}