<section id="intro">
    <div class="intro container">
        <div class="wow animate__fadeInUp animate__animated" id="intro-caption">
            <h1>Every <span>Detail</span> has an <span>impact</span></h1>
            <button class="button main-btn" (click)="scrollToElement(slider)">Browse More</button>
        </div>
    </div>
</section>
<section #slider id="slider">
    <div class="container section">
        <h1>SOLUTIONS</h1>
        <div class="hr"></div>
        <p class="tech_p">
            Our solutions cover a wide specter of industries and aim to increase the commercial value by introducing new
            technological and innovative solutions and optimizing the existing workflows through the application of
            cutting-edge AI algorithms.
        </p>
        <div class="wow animate__fadeInUp animate__animated">
            <app-slider></app-slider>
        </div>
    </div>
</section>
<section #technology id="technology">
    <app-technology></app-technology>
</section>
<section id="news">
    <div class="container section">
        <h1>NEWS</h1>
        <div class="hr"></div>
        <div class="container row d-flex flex-md-row justify-content-between">
            <div class="news col-lg-4 col-md-6 col-sm-12 wow animate__fadeInUp animate__animated"
                *ngFor="let data of news | paginate: {itemsPerPage: 3, currentPage: p};">
                <img src="{{ data.cover }}" alt="">
                <div class="news-description">
                    <h3>{{ data.title }}</h3>
                    <p>{{ data.info | slice:0:250 }}</p>
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <h4>{{ data.date }}</h4>
                        <button class="button-small" routerLink="/news/{{ data.id }}" routerLinkActive="active">Read
                            More</button>
                    </div>
                </div>
            </div>
        </div>
        <button routerLink="/news" routerLinkActive="active"
            class="button wow animate__fadeInUp animate__animated">Browse
            All</button>
    </div>
</section>